<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Main">
	<resultMap type="Main" id="resultMain">
		<id property="m_id" column="m_id" />
	</resultMap>
	<select id="idCheck" parameterType="string" resultType="int">
		select
		count(*) chk from member where m_id=#{m_id}
	</select>
	<select id="emailCheck" parameterType="string" resultType="int">
		select count(*) chk from member where m_email=#{m_email}
	</select>
	<insert id="insertMember" parameterType="Main" flushCache="true"
		statementType="PREPARED" timeout="20">
		insert into Member (m_id, m_password,
		m_email, m_phone, m_addr, m_gender,
		m_birth, m_name) values (#{m_id},
		#{m_password}, #{m_email},
		#{m_phone}, #{m_addr}, #{m_gender},
		#{m_birth}, #{m_name})
	</insert>
	<select id="idExist" parameterType="Main" resultType="int">
		select
		count(*) chk from member where m_id=#{m_id}
	</select>
	<select id="pwExist" parameterType="Main" resultType="int">
		select
		count(*) chk from member where m_id=#{m_id} and
		m_password=#{m_password}
	</select>
	<select id="regInfo" parameterType="string" resultType="Main">
		select m_id, m_name, m_email, m_addr, m_grade from member where
		m_id=#{my_name}
	</select>
	<select id="findid" parameterType="Main" resultType="int">
		select count(*) chk from member where m_name=#{m_name} and m_email =
		#{m_email}
	</select>
	<select id="findpw" parameterType="Main" resultType="int">
		select count(*) chk from member where m_name=#{m_name} and m_email =
		#{m_email} and m_id=#{m_id}
	</select>
	<select id="findidresult" parameterType="Main"
		resultType="string">
		select m_id from member where m_name=#{m_name} and m_email = #{m_email}
	</select>
	<update id="changepw" parameterType="Main" flushCache="true"
		statementType="PREPARED" timeout="20">
		update member set m_password = #{m_password} where m_id=#{m_id}
		</update>
</mapper>