<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ShoppingDestination">	
	<resultMap type="ShoppingDestination" id="resultShoppingDestination">
		<id property="sd_id" column="sd_id" />
		<result property="sd_addr" column="sd_addr" />
		<result property="ad_default" column="ad_default" />
		<result property="ds_addr_nickname" column="ds_addr_nickname" />
		<result property="m_id" column="m_id" />
		<result property="sd_phone" column="sd_phone" />
		<result property="sd_name" column="sd_name" />
	</resultMap>

		<select id="mypageShippingDestination" resultType="arraylist" resultMap="resultShoppingDestination" parameterType="ShoppingDestination">
			select * from shipping_destination where m_id = #{m_id}
		</select>
		
		<insert id="mypageAddrInsert" parameterType="ShoppingDestination" flushCache="true" statementType="PREPARED">
			insert into shipping_destination(sd_id, sd_addr, ad_default, sd_addr_nickname, m_id, sd_phone, sd_name) values(SD_SEQ_NO.nextval, #{sd_addr},#{ad_default},#{sd_addr_nickname},#{m_id},#{sd_phone}, #{sd_name})
		</insert>
		<update id="mypageAddrUpdate" flushCache="true" statementType="PREPARED" timeout="20" parameterType="ShoppingDestination">
			update shipping_destination 
			set 
			sd_addr = #{sd_addr},
			sd_phone = #{sd_phone},
			sd_name = #{sd_name}
			where sd_id = #{sd_id}
		
		</update>
	<delete id="myPageAddrDelete" flushCache="true" statementType="PREPARED" timeout="20" parameterType="ShoppingDestination">
		delete from shipping_destination where sd_id = #{sd_id}
	</delete>
	
	<select id="myPageAddrChkNum" resultType="arraylist" resultMap="resultShoppingDestination" parameterType="ShoppingDestination">
			select * from shipping_destination where m_id = #{m_id}
	</select>
	

</mapper>
